<!--The content below is only a placeholder and can be replaced.-->
<form>
<div class="container additional-page">
  <div class="row">
    <div class="col-md">
      <div class="container additional-container">
        <div class="row">
          <div class="col">
            <div class="circle-avatar" style="background-image:url(assets/profile.jpg)"></div>
          </div>
          <div class="col">
              <img class="heart-image icon-baseline" height="100" width="107" src="assets/heart.svg">
              <img class="heart-image icon-variant" height="100" width="107" src="assets/pixel-heart.svg">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Hannah's journey hit a bump in the road on Saturday, 30 September 2017, when she was hit by a car while cycling home. Her hospital bills are beyond what insurance will cover.</p>
            <p>You can help by giving today.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col main-page">
      <div class="container" id="final" *ngIf="phase=='final'">
        <div class="row">
          <div class="col">
            <h3>Thanks for helping</h3>
            <div id="success" *ngIf="result=='success'">
              <p>Thanks so much for your support. We do appreciate it very much!</p>
            </div>
            <div id="fail" *ngIf="result=='fail'">
              <p>Unfortunately we couldn't process your payment on that card.</p>
              <button class="btn btn-primary" (click)="clickRetry()">Retry</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container" id="donate" *ngIf="phase!='final'">
        <div class="row">
          <div class="col-8">
            <h3 class="donate-now-header">Donate now</h3>
          </div>
          <div class="col-4">
            <select name="currency" class="form-control currency-dropdown" [(ngModel)]="model.currency" (change)="updateAmounts()">
              <option *ngFor="let c of currencies" value="{{c}}">{{c}} &nbsp; {{currencySymbols[c]}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col one-time">
            <input type="radio" class="form-control" name="frequency" class="one-time-payment" value="single" [(ngModel)]="model.frequency" (change)="updateAmounts()" id="one-time-payment-undefined">
            <label for="one-time-payment-undefined" class="medium-label-size">One time</label>
          </div>
          <div class="col">
            <input type="radio" class="form-control" name="frequency" class="monthly-payment" value="monthly" [(ngModel)]="model.frequency" (change)="updateAmounts()" id="monthly-payment-undefined">
            <label for="monthly-payment-undefined" class="medium-label-size">Monthly</label>
          </div>
          <div class="col"></div>
        </div>
          <div class="row donation-amount-row">
            <div class="col">
              <label for="pay-0" class="btn-lg btn-secondary amount-button amount-control" [class.amount-active]="model.paySelection==0">
                <span>{{currencySymbols[model.currency]}}{{amounts[0]}}</span>
                <input type="radio" class="amount-radio" name="pay_selection" value="0" [(ngModel)]="model.paySelection" id="pay-0">
              </label>
            </div>
            <div class="col">
              <label for="pay-1" class="btn-lg btn-secondary amount-button amount-control" [class.amount-active]="model.paySelection==1">
                <span>{{currencySymbols[model.currency]}}{{amounts[1]}}</span>
                <input type="radio" class="amount-radio" name="pay_selection" value="1" [(ngModel)]="model.paySelection" id="pay-1">
              </label>
            </div>
            <div class="col">
              <label for="pay-2" class="btn-lg btn-secondary amount-button amount-control" [class.amount-active]="model.paySelection==2">
                <span>{{currencySymbols[model.currency]}}{{amounts[2]}}</span>
                <input type="radio" class="amount-radio" name="pay_selection" value="2" [(ngModel)]="model.paySelection" id="pay-2">
              </label>
            </div>
          </div>
          <div class="row donation-amount-row">
            <div class="col-4">
              <label for="pay-3" class="btn-lg btn-secondary amount-button amount-control" [class.amount-active]="model.paySelection==3">
                <span>{{currencySymbols[model.currency]}}{{amounts[3]}}</span>
                <input type="radio" class="amount-radio" name="pay_selection" value="3" [(ngModel)]="model.paySelection" id="pay-3">
              </label>
            </div>
            <div class="col-8">
              <div class="amount-other-container amount-control">
                <!-- <label for="amount-other" class="btn-lg btn-secondary amount-button amount-control" id="amount-other-label"> -->
                  <input type="radio" class="amount-radio amount-control" id="pay-other" name="pay_selection" value="4" [(ngModel)]="model.paySelection">
                    <div class="input-group amount-control">
                      <span class="input-group-addon" id="basic-addon1" [class.amount-active]="model.paySelection==4">{{currencySymbols[model.currency]}}</span>
                      <input type="text" class="form-control" name="pay_amount" placeholder="Other amount" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="model.payAmount" (focus)="model.paySelection=4">
                    </div>
                <!-- </label> -->
              </div>
            </div>
          </div>
        <!-- <div class="row error-msg-row hide">
          <div class="full">
            <div id="error-msg">
              <ul id="parsley-id-multiple-donation_amount" class="parsley-errors-list filled">
                <li class="parsley-custom-error-message"></li>
              </ul>
            </div>
          </div>
        </div> -->
        <div class="row payment-section">
          <div class="col">
            <h4 class="float-left choose-payment">Pay with credit card</h4>
            <p id="secure-label" class="float-right"><i class="fa fa-lock"></i>
              Secure
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col cc-button">
            <label class="btn-lg btn-primary payment-type-label" for="payment-cc-payment-type" (click)="clickCard()">
              <input type="radio" class="payment-type-radio payment-cc-input" name="payment-type" value="cc" id="payment-cc-payment-type">
              <div>
                <div class="medium-label-size donate-button">Donate</div>
                <div class="payment-logos credit-card-logo"><p >&nbsp;</p></div>
                <div class="medium-label-size less-text">Credit / debit card</div>
              </div>
            </label>
          </div>
          <div class="col">
            <label class="btn-lg btn-primary payment-type-label" for="payment-cc-payment-type" id="paypal">
              <input type="radio" class="payment-type-radio payment-cc-input" name="payment-type" value="cc" id="payment-cc-payment-type">
              <div>
                <div class="medium-label-size donate-button">Donate</div>
                <div class="payment-logos paypal-logo"><p >&nbsp;</p></div>
                <div class="medium-label-size less-text">Credit / debit card</div>
              </div>
            </label>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
</form>